# ==============================================================================
#  STRICT ALLOWLIST
#  Ignore everything by default, only allow specific user-selected files.
# ==============================================================================

# 1. Ignore everything
/*

# 2. Allow GIT configuration
!/.gitignore

# 3. Allow Specific Files
!/README.md
!/setup.sh
!/starship.toml

# 4. Allow Specific Directories
!/applications/
!/atuin/
!/autostart/
!/bat/
!/bin/
!/btop/
!/docs/
!/fastfetch/
!/fish/
!/kitty/
!/kwin/
!/nvim/
!/systemd/
!/zsh/